h1{
  align-items: center;
}

p, a{
  font-family: "Times New Roman", serif;
  color: black;
}

a:hover {
  color: blue;
}

.four-pics{
  display: flex;
  max-width: 30rem;
  flex-wrap: wrap;
  gap: 2rem;

}

.four-pics img{
  height: 13rem;
  width: 13rem;
}

.img-container{
  display: flex;
  gap: 3rem;
}

.frame{
  border: white solid 1px;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.frame img{
  border-radius: 7px;
}

body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

q {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

li:first-child {
  background-color: #e0ffff;
}

li:nth-child(2) {
  background-color: indianred;
}

li:nth-child(3) {
  background-color: lightgreen;
}